.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  position: relative;
}

.hero {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 1.5rem;
  margin-top: 5rem;
}

.content {
  margin: 0 auto;
}

.title {
  font-size: clamp(1rem, 2vw, 2.5rem);
  font-weight: 400;
  line-height: 1.2;
  padding-right: 0; /* Default padding for mobile */
}

@media (min-width: 768px) {
  .hero {
    padding: 1.5rem;
  }

  .title {
    margin-top: 0;
    padding-right: 30vw; /* Apply 30vw padding only on desktop */
  }
}
