.container {
  width: 100%;
  height: 100vh;
  color: #d0edff;
  font-family: monospace;
  background: #19191b;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.imageWrapper {
  width: 230px;
  height: 300px;
}

.profileImage {
  width: 100%;
  filter: grayscale(100%);
}

.description {
  display: flex;
  flex-direction: column;
  width: 20rem;
  gap: 6rem;
}

.descriptionTitle {
  font-family: "neue_montrealregular";
  color: #ffffff40;
  font-size: 0.75rem;
  display: block;
}

.descriptionContent {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #d0edff;
  font-size: 0.75rem;
  display: block;
}

.skill {
  width: 32rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.hSmall {
  font-family: "neue_montrealregular";
  color: #ffffff40;
  font-size: 0.75rem;
  display: block;
}

.clients,
.fields,
.stack {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6rem;
}

.skillWrapperParent {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.skillWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.clientsSubtitle,
.fieldsSubtitle,
.stackSubtitle {
  font-family: "neue_montrealregular";
  color: #ffffff40;
  font-size: 0.625rem;
  display: block;
}

.listItem {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.listItem li {
  font-size: 12px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.contact p {
  color: #ffffff40;
  font-size: 0.75rem;
  display: block;
}

.year p {
  color: #ffffff40;
  font-size: 0.75rem;
  display: block;
}
