.container {
  display: flex;
  height: 100vh;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.sidebar {
  flex: 0 0 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #000;
}

.canva {
  flex: 1;
  height: 100vh;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 64px;
}

.heroTitle h1 {
  width: fit-content;
  color: #fff;
  font-size: 118px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: black;
  padding: 8px;
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.heroItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid #00000050;
}

.heroSubtitle {
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  width: 30%;
}

.heroInfos {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}

.contactEmail {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.socials a {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
}

.date {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
