.Header {
  padding: 32px;
  border-bottom: 1px solid black;
}

.Header ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 32px;
}

.Header ul li a {
  text-decoration: none;
  color: black;
}
