.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  height: 100vh;
  min-height: 100vh;
  background-color: #0e0e0f;
  gap: 64px;
}

/* Home.module.css */

.h1 {
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
  line-height: 1.2;
}
