.Test {
  padding: 64px;
}

/* Home.module.css */

.h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin: 2rem 0;
  line-height: 1.2;
}

.content {
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  line-height: 1.2;
}
