@font-face {
  font-family: "instrument_serifitalic";
  src: url("./fonts/instrumentserif-italic-webfont.woff2") format("woff2"),
    url("./fonts/instrumentserif-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "neue_montrealmedium";
  src: url("./fonts/neuemontreal-medium-webfont.woff2") format("woff2"),
    url("./fonts/neuemontreal-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "neue_montrealregular";
  src: url("./fonts/neuemontreal-regular-webfont.woff2") format("woff2"),
    url("./fonts/neuemontreal-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-overflow-style: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  font-family: "neue_montrealregular";
  height: 100%;
  background-color: #000000;
}
